  /* .mg-5 {
    margin: 3rem 6rem ;
   

} 
.container{
    background-color:rgb(252, 214, 143);
    height:70vh;
}
.container h2{
    color:#295e31;
    font-weight: 800;
    margin-right: 20px;
    line-height: 40px;
}
.container p{
   font-size: 16px;
}

.buttons{
    display:flex;
}

.buttons .play, .watch {   
    background-color:#295e31;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 20px;
     font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
}
.buttons .watch {   
   background-color:rgb(252, 214, 143);

color: black;
padding: 5px 20px;
   border: 1px solid rgb(58, 57, 57);
   border-radius: 20px;
    font-size: 15px;
   font-weight: 600;
   cursor: pointer;
   
}
.im3 {
    width: 220px;
    height: 250px;
    position: relative;
    
     right: 0px;
     left: 73%;
     margin-top: -10%;
 }
 .items{
    height: 70vh;
 }
 .vertical-line{
    width: 2px;
     height: 33%;
     position: absolute;
     left: 45%;
     bottom: -160%;
     margin-left: -3px;
     background-color:rgb(187, 187, 185); 
     
 }
 .check-icon{
    margin-right: 10px;
    font-size: 20px;
    color: #0171d3;
 }
 .check-para {
   
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
 .lorium-para {
     
     position: absolute;
     margin-left: 35%;
     bottom: -165%;
   
     font-size: 13px;
     font-weight: 400;
     justify-content: start;
     
 }
  .featured {
  background: url('./Images/im4.png');
     
        background-repeat: no-repeat;
        background-size: cover;      
        height: 100vh;
        position: 0; 
         width: 100%;
        
     }
.w3-white {
    width: 220px;
    height: 300px;
    opacity: 0.7;
    border-radius: 15px;
    margin-left: -2%;
   background-color: white;
    box-shadow: 2px 2px 6px black;
}
.col2{
    margin-left: 32%;
   margin-top: -25%;
   
}
.col3{
    margin-left: 47%;
     margin-top: -25%;
     position: absolute; 
    
   
}
.col4{
    margin-left: 25%;
    margin-top: -17%;
    position: absolute;
    width: 220px;
    height: 330px;
} 
.col5{
    margin-left: 130%;
    margin-top: -175%;
    background-color: red;
   
    
  
} 
.col-6{
    margin-top: -45%;
 
} 
.w3-container .w3-center{
    margin-top: -35%;
    
}
.card-para{
    font-size: 13px;
    text-align: start;
    display: flex;
    margin-top: -15%;
    
}
.head{
    font-size: 13px;
    font-weight:700 ;
    text-align: start;
    margin-top: -10%;
    margin-bottom:15%;
}

.mg-5{
    
    margin-left: 15%;
   
}
.content{
    
    margin-top: 5%;
}
 
.content {
    background: url('./Images/im5.png');
       
          background-repeat: no-repeat;
          background-size: cover; 
          height: 350px;
          width: 360px;  
          top: -50px;   
 }
 .w4-white{
    width: 180px;
    height: 70px;
    
    border-radius: 10px;
    left: 35%;
    position: absolute;
    margin-top: 15%;
    opacity: 0.6;
   background-color: white;
   box-shadow: 2px 2px 6px black;
}

 .build p{
   margin-top: -30%;
   left: 50%;
    text-align: start;
    position: absolute;
    font-size: 25px;
    font-weight: 500;
} 
.build-para {
   
    margin-top: -20%;
    left: 50%;
     text-align: start;
     position: absolute;
     font-size: 14px;
     font-weight: 400;
}

 .top {
    text-align: center;
    font-weight:700 ;
    margin-bottom:3%;
    
 }
 .top h2 {
    color:rgb(5, 66, 5);
    font-weight: 800;
    font-size: 20px;
   
 }
  
  .im7{
   left: 67%;
   top: 542%;
    width: 100px;
    position: absolute;

 }
 .im8{
    
     margin-top: 1.5%;
    
  }
  .im9{
    left: 33%;
     position: absolute;
     top:581%;
  }
  .im10{
    margin-top: 20%;
    margin-left:8px;
}
  .im11{
    margin-top: 18%;
    margin-left:8px;
}
.body {
    background: url('./Images/im2.png');
    
    background-repeat: no-repeat;
    background-size: cover; 
    width: 220px;
    height: 250px;
     position: absolute;
     right: 0;
     bottom: -90%;
     left: 50%;  
 }
 
 .w7-white{
    width: 160px;
    height: 70px;
    opacity: 0.9;
    border-radius: 10px;
    left: 40%;
    position: absolute;
    margin-top: 70%;
    opacity: 0.6;
    background-color: white;
    box-shadow: 2px 2px 6px black;
}
.circle1{
    margin-top: -50px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color:#FFCBC4;
}
.circle2{
    margin-top: -30%;
   margin-left:50%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color:#89ff99;
}
.circle3{
    margin-top: -5%;
   margin-left:88%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color:blue;
    opacity: 0.2;
    
}
.circle4{
     width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color:orangered;
    opacity: 0.3;
}
.circle5{
    margin-top: 10%;
    margin-left:95%;
    width: 40px;
   height: 40px;
   border-radius: 50px;
   background-color:rgb(88, 231, 59);
   opacity: 0.3;
}
.circle6{
    margin-top: 10%;
    
    margin-left:-10%;
    width: 40px;
   height: 40px;
   border-radius: 50px;
   background-color:violet;
   opacity: 0.3;
}
.circle7{
    margin-top: -10%;
    margin-left:79%;
    width: 80px;
   height: 80px;
   border-radius: 50px;
   background-color:blue;
    opacity: 0.2;
}




@media only screen and (min-width: 320px) and (max-width: 767px){
.im3{
       padding: 15px 10px;
       
    }
    .lorium-para{
        padding: 15px 10px;
        
     }
.img {
        width: 100%;
        height: auto;
      }
.buttons .watch {   
    max-width: 100%;
    display: block;
}
 .container p{
   padding: 15px 10px;
 }

}
 


      

  */
